.toolbar {
    background: black;
    padding: 10px 10px;
    width: 100%;
    display: flex;
  }
  
  .toolbar-left {
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .toolbar-right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
  }
  
  .contact {
    padding: 10px 20px;
    background: #006d5b;
    color: white;
    border-style: none;
    border-radius: 20px;
    cursor: pointer;
  }
  